NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CLOSE_API_KEY=
CLOSE_LOCATION_ID=
CLOSE_WEBHOOK_SECRET=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEETS_AUTH_MODE=public
GOOGLE_SHEETS_NUMBERS_ID=1-FAu_cOnldCq-0EqAT_CFy4duFCgjwsNC9635sOCmQk
GOOGLE_SHEETS_NUMBERS_RANGE=Setter Stats!A:Z
GOOGLE_SHEETS_POST_CALL_ID=1-FAu_cOnldCq-0EqAT_CFy4duFCgjwsNC9635sOCmQk
GOOGLE_SHEETS_POST_CALL_RANGE=PCF responses!A:Z
GOOGLE_SHEETS_SYNC_SECRET=
